*{margin: 0;}
.main{
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.log_in{
    height: 30%;
    width: 25%;
    border: 1px solid blueviolet;
}
p{
    margin: 30px 30%; 
}
#login_btn:hover{
    color: red; 
}