@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&family=Cookie&family=Encode+Sans&family=Nerko+One&family=Noto+Sans+TC&display=swap');

*{margin: 0;}

:root{
    --background:white
}

.header{
    width: 95%;
    height: 100px;
    border: solid pink 1px;
    display:inline-flex;
    background-color: var(--background);
    position:sticky;
    top: 0;
    margin: 0px 2.5%;
    z-index: 9999;
}
.box_logo{
    width: 70%;
    height: 100%;
    border: solid blue 1px;
    display: flex;
    align-items: center;
}
.box_logo img{
    height: 97%;
    object-fit: cover;
}
.logo_img{
    margin-left: 0;
    height: 100%;
}
#BrandName{
    font-size: 80px;
    margin: 0 auto;
    font-family:'Cookie', cursive;
}
.box_icon{
    width: 10%;
    height: 100%;
    border: solid blue 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_icon img{
    height: 97%;
}
.hot{
    width: 95%;
    height: 380px;
    margin: auto;
    padding: 0px;
    text-align: center;
}
.hot h1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hot h1 img{
    height: 50px;
}
.main{
    margin-top: 10px;
    padding: 0px;
    background-color: #EFEDEC; /*格式不能改 #EFEDEC */
}
.main li{
    margin: auto;
    padding: 5px;
    border: 25px solid lightblue;
}
.main li div{
    display: flex;
}
.main li div p{
    font-size: 30px;
    width: 90%;
    /*font-family: 'Cookie', cursive;*/
}
.main li div img{
    height: 40px;
    width: 10%;
    object-fit: contain;
    background-color: black;
}
.slick-prev:before, .slick-next:before{
    color: black;
}
/*.slick-slide{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
.slick-slide img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/*.popup{*/
/*    margin-top: 30px;*/
/*    font-size: 30px;*/
/*}*/
/*.popup form{*/
/*    border: 1px dotted black;*/
/*    text-align:center;*/
/*}*/
/*.popup input{*/
/*    font-size: 30px;*/
/*}*/
.recommendation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
table{
    border: 0;
    border-collapse: collapse;
    border-radius: 8px;
    width: 95%;
}
caption{
    font-size: 30px;
    margin-bottom: 10px;
}
th{
    border: solid 5px #5ceffe;
    padding: 16px 8px;
}
td{
    border: solid 3px #5ceffe;
    text-align: center;
    padding: 8px;
    color: #757575;
}
.footer{
    width: 95%;
    margin: auto;
}
.footer div{
    width: 100%;
    border: 1px solid red;
}
.footer box{
    width: 100%;
    display: flex;
}
.footer box1{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer box1 img{
    width: 50%;
}
.footer box2{
    width: 33%;
}
.footer box2 p{
    margin-top: 15px;
    margin-left: 15%;
}
.footer box3{
    width: 33%;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup*/
/* Popup container - can be anything you want */
.popup {
    position: relative;
    cursor: pointer;
    width: 95%;
    height: 300px;
    border: 3px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 80%; /*格式不動*/
    height: 600px; /*格式不動*/
    background-color: lightblue;
    color: #fff;
    border-radius: 60px;
    padding: 8px 0;
    position: absolute;
    z-index: 100000;
    margin: auto;
    top: -145%; /*格式不動*/
    left: 10%; /*格式不動*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup form{
    font-size: 30px;
    border: 3px solid red;

}
.popup input{
    font-size: 20px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}