@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Caveat+Brush&family=Cookie&family=Diplomata+SC&family=Encode+Sans&family=Indie+Flower&family=La+Belle+Aurore&family=Lobster+Two&family=Nerko+One&family=Noto+Sans+TC&family=Permanent+Marker&family=Yellowtail&display=swap');

/* font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive;
font-family: 'Cookie', cursive;
font-family: 'Diplomata SC', cursive;
font-family: 'Encode Sans', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Nerko One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Yellowtail', cursive; */

*{margin: 0;}

:root{
    --background:white
}

.header{
    width: 95%;
    height: 100px;
    border: solid pink 1px;
    display:inline-flex;
    background-color: var(--background);
    position:sticky;
    top: 0;
    margin: 0px 2.5%;
    z-index: 9999;
}
.box_logo{
    width: 70%;
    height: 100%;
    border: solid blue 1px;
    display: flex;
    align-items: center;
}
.box_logo img{
    height: 97%;
    object-fit: cover;
}
.logo_img{
    margin-left: 0;
    height: 100%;
}
#BrandName{
    font-size: 80px;
    margin: 0 auto;
    font-family:'Cookie', cursive;
}
.box_icon{
    width: 10%;
    height: 100%;
    border: solid blue 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_icon img{
    height: 97%;
}
.main{
    width: 95%;
    height: 380px;
    border: solid green 1px;
    margin: auto;
}
.slick-prev:before, .slick-next:before{
    color: black;
}
.slick-slide{
    width: 100%;
    height: 380px;
}
.slick-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.input_files{
    margin-top: 30px;
    font-size: 30px;
}
.input_files form{
    border: 1px dotted black;
    text-align:center;
}
.input_files input{
    font-size: 30px;
}
.recommendation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
table{
    border: 0;
    border-collapse: collapse;
    border-radius: 8px;
    width: 95%;
}
caption{
    font-size: 30px;
    margin-bottom: 10px;
}
th{
    border: solid 5px #5ceffe;
    padding: 16px 8px;
}
td{
    border: solid 3px #5ceffe;
    text-align: center;
    padding: 8px;
    color: #757575;
}
.footer{
    width: 95%;
    margin: auto;
}
.footer div{
    width: 100%;
    border: 1px solid red;
}
.footer box{
    width: 100%;
    display: flex;
}
.footer box1{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer box1 img{
    width: 50%;
}
.footer box2{
    width: 33%;
}
.footer box2 p{
    margin-top: 15px;
    margin-left: 15%;
}
.footer box3{
    width: 33%;
}