@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&family=Cookie&family=Encode+Sans&family=Nerko+One&family=Noto+Sans+TC&display=swap');

*{margin: 0;}

:root{
    --background:white
}
.header{
    width: 95%;
    height: 100px;
    border: solid pink 1px;
    display:inline-flex;
    background-color: var(--background);
    position:sticky;
    top: 0;
    margin: 0px 2.5%;
    z-index: 9999;
}
.box_logo{
    width: 60%;
    height: 100%;
    border: solid blue 1px;
    display: flex;
    align-items: center;
}
.box_logo img{
    height: 97%;
    object-fit: cover;
}
.logo_img{
    margin-left: 0;
    height: 100%;
}
#BrandName{
    font-size: 80px;
    margin: 0 auto;
    font-family:'Cookie', cursive;
}
.box_icon{
    cursor: pointer;
    width: 10%;
    height: 100%;
    border: solid blue 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_icon img{
    height: 97%;
}
.box_icon a{
    height: 100%;
}
.box_icon a img{
    height: 97%;
}
.product table{
    width: 90%;
    text-align: center;
    margin: auto;
}
.product caption{
    font-size: 50px;
    margin: 10px;
}
.product th{
    font-size: 40px;
    color: lightsteelblue;
    background-color: #393939;
}
.product td{
    font-size: 30px;
    background-color: #EFEDEC;
}
/*.product td.collection:hover{*/
/*    background-color: silver;*/
/*}*/
.product img.image{
    height: 300px;
}
/*.product img.collection{*/
/*    height: 100px;*/
/*}*/
.product .collection{
    font-size: 100px;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.product .collection:hover{
    color: red;
    transform: scale(1.25);
}
.product .collection:active{
    color: red;
    transform: scale(1);
}
.product .collection:focus{
    color: red;
    pointer-events: none;
}
.footer{
    width: 95%;
    margin: auto;
}
.footer div{
    width: 100%;
    min-height: 100px;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}
.footer_box{
    margin-top: 1vw;
    padding: 1.5vw 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 50px;
}
.footer_logo{
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-top: solid #555;
    border-bottom: solid #555;
}
.footer_logo img{
    display: flex;
    max-height: 150px;
    max-width: 150px;
    object-fit: contain;
}
.footer_sections{
    /* margin-bottom: 4vw; */
    justify-content: space-between;
    /* padding: 10px 0; */
    display: flex;
    width: 100%;
    height: 300px;
}
.footer_sec1{
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    display: flex;
    text-align: left;
    line-height: 3rem;
    font-family: 'Caveat Brush','Noto Sans TC', sans-serif;
}
.footer_sec2 img{
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.footer_sec3{
    justify-content: center;
    align-items: center;
    height: 100%;
}